@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var imageId = Model.GetPropertyValue<string>("imageId");
    var hasImage = imageId != null;
}

@if( hasImage )
{
    var image = Umbraco.TypedMedia(imageId);
    var caption = image.GetPropertyValue<string>("caption");
    var altText = image.GetPropertyValue<string>("altText");

    var hasRatio = Model.HasValue("aspectRatio") ? true : false;
    var aspectRatio = hasRatio ? Model.GetPropertyValue<string>("aspectRatio") : null;
    var alignment = Model.GetPropertyValue<string>("alignment") != null ? Model.GetPropertyValue<string>("alignment").ToLower() : "default";
    int imageWidth = alignment != "default" ? 400 : 900;

    var imageUrlLow = "";
    var imageUrlHigh = "";

    if( hasRatio )
    {
        imageUrlLow = image.GetCropUrl(aspectRatio);
        imageUrlHigh = image.GetCropUrl(aspectRatio);
    }
    else
    {
        imageUrlLow = image.Url;
        imageUrlHigh = image.Url;
    }



    @*     var imageUrlLow = image.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, quality: 18, htmlEncode: false).ToString();
    var imageUrlHigh = image.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, quality: 85, htmlEncode: false).ToString(); *@
    var aspectRatioClass = hasRatio ? "o-media--" + aspectRatio.Replace(":", "-") : "";

    <figure class='o-media o-media--@alignment @aspectRatioClass @( alignment == "default" ? "o-page-component" : "" )'>
        @if( Model.HasValue("imageLink") )
        {
            var imageLink = Model.GetPropertyValue<string>("imageLink");
            var target = ( Model.GetPropertyValue("externalUrl").ToString() == "True" ? "target='_blank'" : "" );

            <a href="@imageLink" class="o-media__image__anchor" @target>
                <img class="o-media__image" src="@imageUrlHigh" alt="@altText"/>
                @if ( caption != "" )
                {
                    <figcaption class="c-caption">@caption</figcaption>
                }
            </a>
        }
        else
        {
            <img class="o-media__image" src="@imageUrlHigh" alt="@altText"/>
            if ( caption != "" )
            {
                <figcaption class="c-caption">@caption</figcaption>
            }
        }
    </figure>
}

