@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var selection = CurrentPage.featuredWorkPages.Split(',');
}

<article class="owl-carousels case-study work-page--macro case-study--macro js-work-pages clearfix">
	@foreach( var id in selection )
	{
		var item = Umbraco.Content(id);

		<section class="case-study__section case-study__section--third">
			<div class="case-study__wrap">
				<div class="case-study__content">
					<div class="case-study__header clearfix">
						@if(item.HasValue("logo")) {
							<img src="@Umbraco.Media(item.logo).Url?height=65" alt="@item.Name" class="case-study__img--logo" />
						}
						<div class="case-study__title--wrap">
							<h2 class="case-study__title">@item.Parent.Name</h2>
							@if( item.HasValue("subtitle") ) {
								<small class="alpha title--sub">@item.subtitle</small>
							}
						</div>
					</div>
					@if( item.HasValue("intro") ) {
						@Umbraco.Truncate(item.intro, 350)
					}
					<a href="@item.Url" class="button button--tertiary">Find out more</a>
				</div>
			</div>

			@if(item.HasValue("coverImage2")) {
				<img src="@Umbraco.Media(item.coverImage2).Url?width=1400&height=565&mode=crop" alt="@item.Name" class="case-study__img" />
			}
		</section>
	}
</article>
